---
const contact = {
  email: 'Alphaspiderman@protonmail.com',
  linkedin: 'https://www.linkedin.com/in/raghav-gupta-ind/',
  image: '/assets/profile-picture.png',
  bg: '/assets/bg-light.png',
};
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <main class="flex-1">
    <div class="relative flex flex-col items-center py-20 h-max">
      <img src={contact.bg} alt="Background" class="absolute inset-0 w-full h-full object-cover -z-10" />
      <img src={contact.image} alt="Profile" class="w-32 h-32 rounded-full mb-8 shadow-lg object-cover z-10" />
      <h1 class="text-4xl font-bold mb-8 z-10">Contact</h1>
    </div>
    <div class="flex flex-col items-center z-10">
        <p class="text-black text-lg font-medium mb-2">The best way to contact me is via:</p>
        <ul class="list-disc list-inside text-black space-y-2">
          <li>
            <span>Email: </span>
            <a href={`mailto:${contact.email}`} class="text-blue-800 hover:text-blue-600 underline">{contact.email}</a>
          </li>
          <li>
            <span>LinkedIn: </span>
            <a href={contact.linkedin} class="text-blue-800 hover:text-blue-600 underline" target="_blank" rel="noopener">LinkedIn</a>
          </li>
        </ul>
      </div>
  </main>
  <Footer />
</Layout>
